@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Recursive:wght@300;400;500;600&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0px;
  font-family: "Recursive", sans-serif;
}

/* Nav Bar Styling */
nav {
  position: absolute;
  width: 100%;
  height: 80px;
  background: transparent !important;
  z-index: 1;
  top: 0;
}

.nav-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: "Recursive";
  font-weight: 400;
}
a:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.nav-left {
  padding-right: 4rem;
}

.nav-right {
  padding-left: 4rem;
}

/* Hero Styling */
.slider {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 0;
}
.slider__nav {
  width: 8px;
  height: 8px;
  margin: 1rem 12px 1.2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.slider__txt {
  position: absolute;
  transform: translateX(-350px);
  z-index: 2;
  height: 300px;
  width: 300px;
  padding-top: 80px;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  font-family: "Prompt", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 2px 2px lightskyblue;
  text-align: left;
  color: white !important;
}

.slider__right {
  position: absolute;
  transform: translateX(350px);
  z-index: 2;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 30px;
  color: white;
  background: linear-gradient(-45deg, #d53369, #daae51, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Prompt", sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.slider__contents {
  height: 100%;
  text-align: center;
  padding: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider-page1 {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.slider-page2 {
  background: linear-gradient(90deg, #f5db4b 10%, #ff8221 100%);
}

.slider-page3 {
  background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
}

.slider-page4 {
  background: linear-gradient(90deg, #ffad63 0%, #f25431 100%);
}

.slider-circle {
  border: none;
  background-color: none;
  width: 700px;
  height: 700px;
  position: absolute;
  z-index: 1;
  transform: translateY(250px);
  -webkit-box-shadow: -6px -8px 10px #f8a50e, -4px 7px 10px #bff80e,
    6px -4px 10px #16acc7;
  -moz-box-shadow: -6px -8px 10px #f8a50e, -4px 7px 10px #bff80e,
    6px -4px 10px #0ed6f8;
  box-shadow: -6px -8px 10px #f8a50e, -4px 7px 10px #bff80e,
    6px -4px 10px #0ed6f8;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: box-shadow 0.4s ease;
  -moz-transition: box-shadow 0.4s ease;
  -o-transition: box-shadow 0.4s ease;
  -ms-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
}

.slider__caption {
  position: absolute;
  transform: translateY(-220px);
  margin: 0.5rem 0 1rem;
  color: white;
  text-transform: uppercase;
  font-family: "Yellowtail", cursive;
  font-size: 6rem;
  font-weight: 600;
  text-shadow: 0.1rem 0 0.1rem #ea36af, -0.125rem 0 0.1rem #75fa69;
  letter-spacing: 0.125em;
  animation-duration: 0.1s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

.slider_img {
  position: absolute;
  transform: translateY(200px);
  z-index: 3;
}

.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  70% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  70% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

/* our story */
.our-story {
  display: flex;
  margin-top: 0;
  justify-content: center;
  flex-direction: column;
}
.text-block-34 {
  margin-top: 44px;
  font-family: "Permanent Marker", cursive;
  font-size: 44px;
  text-align: center;
}
.paragraph-bigger.cc-bigger-light {
  margin-bottom: 0px;
  padding-top: 19px;
  opacity: 1;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 30px;
  text-align: center;
}
.text-block-35 {
  padding-top: 18px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

/* about us */
.about-us {
  display: flex;
  margin-top: 0px;
  flex-direction: row;
  margin-bottom: -10px;
}

.img-about {
  flex-basis: 50%;
}

.img-about img {
  flex-basis: 50%;
  height: 100vh;
  width: 100%;

  min-height: 0px;
}

.about-us .text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 100px 100px;
  background-image: url(./images/bg_abt.jpeg);
}

.about-us .heading-2 {
  font-family: "Permanent Marker", cursive;
  padding-bottom: 30px;
}

.about-us p {
  font-size: 15px;
}
/* contact */
* {
  box-sizing: border-box;
  margin: 0;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.l-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
#contact {
  min-height: 500px;
  background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
  width: 100%;
  color: black;
}
#contact p {
  font-size: 16px;
  line-height: 25px;
  opacity: 0.6;
  padding: 4px 0;
  margin: 24px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
#contact i {
  font-size: 14px;
  margin-right: 8px;
}
#contact .contact__heading-sub {
  color: rgb(207 50 50);
  font-size: 50px;
  margin-bottom: 40px;
}
.contact__infor a {
  color: #000;
}
#contact .contact__heading {
  font-size: 64px;
}
#contact .contact__heading-right {
  font-size: 1.5rem;
  opacity: 0.8;
  margin-bottom: 20px;
}
.contact__button {
  margin-top: 30px;
  padding: 12px 50px;
}
.contact__container {
  padding: 60px 0 20px 0;
}
.text__contact {
  margin-top: 30px;
  opacity: 0.9;
  padding: 14px 54px;
  display: inline-block;
  border: 1px solid;
}

#contact a {
  color: rgba(255, 255, 255, 0.5);
}
/* Google Fonts Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#section3{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
  position: relative;
}

.product-card-header {
  position: absolute;
  transform: translateY(-400px);
  font-family: "Prompt", cursive;
  font-size: 50px;
  text-align: center;
  color: #d53369;
  animation-duration: 0.1s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

.product-card {
  position: relative;
  max-width: 355px;
  width: 100%;
  border-radius: 25px;
  padding: 20px 30px 30px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  overflow: hidden;
  margin: 20px;
}
#card1{
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
}
#card2{
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
#card3{
  background: linear-gradient(90deg, #F5DB4B 10%, #FF8221 100%);
}
#card4{
  background: linear-gradient(90deg, #FFAD63 0%, #F25431 100%);
}
.product-card .logo-cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.product-card .logo-cart img{
  height: 100px;
  width: 60px;
  object-fit: cover;
  /* border: 1px solid red; */
}

.product-card .logo-cart i{
  font-size: 27px;
  color: #707070;
  cursor: pointer;
  transition: color 0.3s ease;
  /* border: 1px solid red; */
}
.product-card .logo-cart i:hover{
  color: #333;
}
.product-card .main-images{
  position: relative;
  height: 210px;
}

.product-card .main-images img{
  position: absolute;
  height: 220px;
  width: 100%;
  object-fit: cover;
  /* transform: rotate(18deg); */
  left: 12px;
  top: -40px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-top: 30px;
  padding-right: 15px;
}
.product-card .main-images img.active{
  opacity: 1;
}
.juice_name {
  padding-top: 20px;
  font-size: 24px;
  font-family: 'Recursive';
  font-weight: 500;
  color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
}

.juice-info {
  font-family: 'Recursive';
  font-size: 16px;
  padding-top: 20px;
}
.product-card .juice-details p{
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-align: justify;
}
.product-card .juice-details .stars i{
  margin: 0 -1px;
  color: #333;
}
.product-card .color-price .color-option{
  display: flex;
  align-items: center;
}
.color-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.color-price .color-option .color{
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-right: 8px;
  font-family: 'Recursive';
}
.color-option  .circles{
  display: flex;
}
.color-option  .circles .circle{
  height: 18px;
  width: 18px;
  background: #0071C7;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.color-option  .circles .circle.blue.active{
  box-shadow: 0 0 0 2px #fff,
               0 0 0 4px #0071C7;
}
.color-option  .circles .circle.pink{
  background: #FA1795;
}
.color-option  .circles .circle.pink.active{
  box-shadow: 0 0 0 2px #fff,
               0 0 0 4px #FA1795;
}
.color-option  .circles .circle.yellow{
  background: #F5DA00;
}
.color-option  .circles .circle.yellow.active{
  box-shadow: 0 0 0 2px #fff,
               0 0 0 4px #F5DA00;
}
.color-price .price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color-price .price .price_num{
  font-size: 25px;
  font-weight: 600;
  color: white;
}
.color-price .price .price_letter{
  font-size: 10px;
  font-weight: 600;
  margin-top: -4px;
  color: white;
}
.product-card .button{
  position: relative;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  margin-top: 30px;
  overflow: hidden;
}
.product-card .button .button-layer{
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  /* background-image: linear-gradient(135deg,#9708CC, #43CBFF,#9708CC, #43CBFF ); */
  transition: all 0.4s ease;
  border-radius: 25PX;
}
.product-card .button:hover .button-layer{
  left: 0;
}
.product-card .button button{
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #22c1c3;
  cursor: pointer;
  background-color: white;
}

.product-card .button button:hover {
  background-color: lightgray;
}


/* .row{
    display: flex;
    justify-content: around;
} */

.product-card .juice-details .juice_name:hover{
    transition: .5s linear;
    color: black;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }
  .product-card .juice-details .juice_name:nth-child(1){
    margin-right: 5px
  }
  .product-card .juice-details .juice_name:nth-child(2){
    margin-left: 30px
  }
footer {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(53, 96, 210, 1) 100%
  );
  color: cornsilk;
  padding-top: 30px;
}

footer .row1 {
  display: flex;
  justify-content: space-between;
}
footer .row11 {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

footer .heading {
  color: aliceblue;
  font-family: "Yellowtail", cursive;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

footer img {
  max-width: 95vw;
  height: auto;
}
/* footer .col1{
    display: flex;
    flex-direction: column;
    
} */

footer li {
  list-style-type: none;
}

.footer-right img {
  border-radius: 50%;
  border: 2px solid grey;
}
footer .row2 {
  display: flex;
  justify-content: right;
  color: aliceblue;
  font-size: 12px;
}

footer #lmao a {
  margin-right: 20px;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: honeydew;
  font-size: 12px;
}
/* product */

:root {
  --white: #fff;
  --black: #111;
  --primary: #9d9091;
}
* *::before *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: var (--pink);
  font-family: "Recursive", sans-serif;
  background-color: var(--white);
}

nav {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: transparent;
  z-index: 1;
  top: 30px;
}

.nav-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.nav-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: "Recursive";
  font-weight: 400;
}
a:hover {
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  animation: shine 2s infinite;
}
@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.nav-left {
  padding-right: 3rem;
}

.nav-right {
  padding-left: 3rem;
}

.b-circle {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: pink;
  position: relative;
  /* background-image: radial-gradient(#ff8a00, #e52e71); */
  box-shadow: 0 10px 15px 5px grey;
  display: block;
  margin: auto;
  background: -webkit-radial-gradient(100px 100px, circle, #ff8a00, #e52e71);
}

.b-circle img {
  border-radius: 50%;
  max-width: 500px;
  padding-top: 50px;
  position: absolute;
  transform: rotate(20deg);
  left: 10px;
  top: 10px;
}

.container__container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 200px;
}

.content-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.left-side {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header1 {
  color: red;
  font-weight: 400;
  font-size: 30px;
}

.header2 {
  padding-bottom: 20px;
  color: pink;
  font-size: 50px;
}


.bottom-row {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: separate;
  border: solid black 1px;
  border-spacing: 0;
  border-radius: 6px;
  color: white;
}

table tr th,
table tr td {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 5px;
  color: black;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}
table tr th {
  background: #eee;
  border-top: 1px solid #bbb;
  text-align: left;
}

tr .first-column {
  background: -webkit-radial-gradient(10px 10px, circle, #ff8a00, #e52e71);
  color: white;
}

.nutri {
  padding-bottom: 30px;
}
button.content__btn {
  width: 80px;
  height: 80px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0 0 0;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
  margin: 0 6px;
  background: #fff;
}
button.content__btn:active {
  background: -webkit-radial-gradient(10px 10px, circle, #ff8a00, #e52e71);
  color: #fff;
}
.content__btn .mes {
  font-weight: 100;
}
.button__btn-order {
  display: flex;
}

.button__quantity span {
  padding: 0 16px 0 0;
}
.button__quantity {
  border: 1px solid #ccc;
  padding: 5px -21px 5px 5px;
  margin-right: 60px;
  padding: 8px 0 8px 15px;
  border-radius: 10px;
}
button.btn {
  padding: 10px 20px;
  color: #fff;
  background: -webkit-radial-gradient(10px 10px, circle, #ff8a00, #e52e71);
  outline: none;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 15px;
}

.btn:active {
  background: -webkit-radial-gradient(10px 10px, circle, #a85a00, #961e4a);
}
/* toast message */
.toast {
  display: flex;
  align-items: center;
  border-left: 3px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 3px;
  max-width: 446px;
  padding: 10px 0;
  transition: all linear 0.3s;
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 16px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes FadeIn {
  to {
    opacity: 0;
  }
}
.toast + .toast {
  margin-top: 24px;
}
.toast__close,
.toast__icon {
  padding: 0 16px;
}
.toast__icon {
  font-size: 24px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  margin: 10px 0 10px 0;
  font-size: 16px;
  color: #333;
}

.toast__msg {
  margin: 5px 0 10px 0;
  font-size: 16px;
  color: #666;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.toast--success {
  border-color: #71be34;
}
.toast--success .toast__icon {
  color: #71be34;
}
.toast--danger {
  border-color: #ff623d;
}
.toast--danger .toast__icon {
  color: #ff623d;
}

.toast--warn {
  background-color: #ffb702;
}
.toast--warn .toast__icon {
  background-color: #ffb702;
}

#toast {
  position: fixed;
  top: 16px;
  right: 16px;
}
input#js-quantity {
  outline: none;
  border: 1px solid transparent;
  text-align: center;
}
.button__quantity span {
  cursor: pointer;
}

/* slider */

#slider__thanhttai {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 150px 0;
  background: linear-gradient(90deg, #F5DB4B 10%, #FF8221 100%);
}
.slider__img{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img.slider__img_a {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  /* background-position: center; */
  object-fit: cover;
  /* background-size: contain; */
}

.slider__thanhttai {
  max-width: 720px;
  flex-basis: 50%;
  margin-top: 84px;
}
.tabs {
  display: flex;
  position: relative;
}
.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #c23564;
  transition: all 0.2s ease;
}
.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: #c23564;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}
.tab-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
}
.tab-item:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.05);
  border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
  opacity: 1;
}
#slider__thanhttai .tab-content {
  padding: 28px 0;
  min-height: 200px;
}
.tab-pane {
  color: #333;
  display: none;
}
.tab-pane.active {
  display: block;
}
.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}
/* story */
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/permanentmarker/v10/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cfw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.div-block-13 {
  position: relative;
  padding: 0 204px 90px;
  display: flex;
  margin-top: 0;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
}
.text-block-34 {
  margin-top: 70px;
  font-family: "Yellowtail", cursive;
  font-size: 44px;
  text-align: center;
  color: #d53369;
  animation-duration: 0.1s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}
.paragraph-bigger.cc-bigger-light {
  margin-bottom: 0px;
  padding-top: 19px;
  font-family: 'Recursive';
  color: #FFAD63;
  font-size: 30px;
  text-shadow: 2px 2px #22C1C3;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 0.3rem;
  font-weight: 500;
}
.text-block-35 {
  padding-top: 18px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  font-family: 'Recursive';
  padding-left: 30px;
  padding-right: 30px;
}

/* Styling about us */
/* about us */
.about-us {
  display: flex;
  margin-top: 0px;
  flex-direction: row;
  margin-bottom: -10px;
}

.img-about {
  flex-basis: 50%;
}

.img-about img {
  flex-basis: 50%;
  height: 100vh;
  width: 100%;

  min-height: 0px;
}

.about-us .text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 100px 100px;
  background-image: url(./images/bg_abt.jpeg);
}

.about-us .heading-2 {
  font-family: "Permanent Marker", cursive;
  padding-bottom: 30px;
}

.about-us p {
  font-size: 15px;
}
